# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/config.properties
/screenshots/
/.idea/
/eoiData/
/extracts/
/target/
/src/main/resources/
/src/test/java/TempTest.java
!/src/test/JMeter/
/EoiTests.iml
/Inno_Engagements_Ids.xls
/BP2018_Engagements_Ids.xls
