# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/screenshots/
/.idea/
/columnsData/
/eoiData/
/extracts/
/EoiTests.iml
/target/
/config.properties
/ListOfEngagementsWithoutPrivilegesToEdit.xls
/ListOfEngagementsWithoutEditorField.xls
src/main/resources/
/src/test/java/TempTest.java
src/test/JMeter/Edit_WP.jmx
src/test/JMeter/engagementsIds/engagements_ids__to_edit.csv
src/test/JMeter/results/all_engagements.csv
src/test/java/TempTest.java
